extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aut quibusdam velit id voluptate inventore adipisci cupiditate minus nulla ex amet quas, error laudantium ad perferendis quia animi vitae ipsam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti aut quibusdam velit id voluptate inventore adipisci cupiditate minus nulla ex amet quas, error laudantium ad perferendis quia animi vitae ipsam.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")
            
        include ./layout/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Mayo 2023 - 28 de Mayo 2023
                        p.precio $2500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales