extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tenetur dolor odio? Officia maiores similique quam consequuntur recusandae nesciunt, nam hic adipisci tenetur cumque ea in? Laborum inventore beatae nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. 